/**
 * @name Moon Rabbits Dream About Virtual
 * @description Based in Tsukino Mito Album Presentation
 * @author zuzumi#5335
 * @authorId 437579806616322049
 * @invite PsNtzGeHuW
 * @donate https://www.paypal.me/hurtyoutube
 * @website https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual
 * @source https://github.com/zuzumi-f/Moon-Rabbits-Dream-About-Virtual/blob/main/release/tsukino-mito.base.css
 * @version 3
*/

/*---------------------------------------------------------------
   Theme Import you can't disable this is the full theme dummy
---------------------------------------------------------------*/
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/tsukino-mito-base.css');
/*---------------------------------------------------------------
               Make it look Like Another Window
---------------------------------------------------------------*/
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/window-mode.css'); /*
/*---------------------------------------------------------------
                        Custom Settings
/*--------------------------------------------------------------
Message bubble styles [If you don't want any place a /* in all]
----------------------------------------------------------------*/
/* Message Bubble in Left Side */
@import url(https://zuzumi-f.github.io/Discord-11/release/messagebubbleleft.css);
/* Default Message Bubble */
/* @import url(https://zuzumi-f.github.io/Discord-11/release/messagebubble11.css); */
/* New Message Bubble */
/* @import url(https://zuzumi-f.github.io/Discord-11/release/messagebubblenew.css); */

/* Animate the background */
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/background-animation.css');

/* Add transparency for background images */
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/background-image.css');

/* Pop Effect */
@import url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/pop.css");

/* Reverse the position of Server list and members */
@import url('https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/reverse.css');

/*------------------------------------------------------
                all the customization
------------------------------------------------------*/
:root {
    /* The text that appear in top, leave it blank ("") if you dont want any */
    --custom-text: "";

    /* General Colors */
    --border-color: #da4a60;
    --drag-gradient1: #e8c4d3;
    --drag-gradient2: #e39ba7;
    --name-bg: #d95b72;

    /* Background Colors & BG Image */
    --bg-gradient1: #e297b2;
    --bg-gradient2: #c0b4d5;
    --bg-gradient3: #54b5de;
    --bg-image: url(https://raw.githubusercontent.com/Arkahilum/Discord-Themes/main/wallpaper/105998772_p0.jpg); /* Write the image url, example url("your url") [none is default]*/
    --opacity: 0; /* Value in numbers from 0 to 1, but there is a limit */
    --bg-blur: 8px; /* Value in px */

    /* HSL(Hue, Saturation, Lightness). This values will change the accent color (That blue color in most buttons) */
    --H: 339; /* Value in numbers [339 is default] */
    --S: 97%; /* Value in % [97% is default] */
    --L: 71%; /* Value in % [71% is default] */

    /* HSL DarkTheme */
    --darkH: 0;     /* Value in numbers [0 is default] */
    --darkS: 0%;    /* Value in % [0% is default] */
    --darkL: 16%;   /* Value in % [16% is default] */

    /* Windows Buttons Colors */
    --close-color: #da5169;
    --max-color: #00CA4E;
    --min-color: #FFBD44;

    /* Status Colors */
    --online-color: #60e046;
    --idle-color: #ffca3a;
    --dnd-color: #f73c3c;
    --offline-color: #707070;
    --streaming-color: #f066f0;

    /* Chatbar Colors */
    --channeltextarea-background: #F0F2F2;
    --text-color: #313D40;
    --icon-color: var(--text-color);
    --selected-text-bg: var(--text-color);
    --selected-text-color: var(--channeltextarea-background);
    --mentioned-color: 200, 100%, 60%; /* HSL Values Only */

    /* Other options */
    --border-width: 3px;
    --round-corners: 16px;
}

/* Selection text color */
::selection {
    background-color: var(--selected-text-bg); /* text selection*/
    color: var(--selected-text-color); /* text color */
}

/*------------------------------------------------------
                anything else down here
------------------------------------------------------*/
.withFrame-2dL45i {
    flex-direction: row-reverse !important;
}
.winButton-3UMjdg {
    right: 4px !important;
    left: unset !important;
}
                                      Windows 11 emojis
--------------------------------------------------------------------------------------------------*/
@import url(https://mwittrien.github.io/BetterDiscordAddons/Themes/EmojiReplace/base/Microsoft.css);

/* compact embeds */
[id^=message-accessories] [class^=gridContainer] > [class^=grid] {
  padding: 8px;
}
[id^=message-accessories] [class^=gridContainer] > [class^=grid] > * {
  margin-top: 2px; 
}
[id^=message-accessories] [class^=gridContainer] > [class^=grid] [class^=message] {
  margin-bottom: 4px;
}
[id^=message-accessories] [class^=gridContainer] > [class^=grid] [class^=message] h3[class*=header] {
  margin-top: 0px;
}

/* -- Remove the Christmas gifting button || Samu -- */
[class="container-3Csys8"] {
    display: none !important;
}

#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.chat-2ZfjoI > div.content-1jQy2l > main > form > div > div.scrollableContainer-15eg7h.webkit-QgSAqd > div > div.buttons-uaqb-5 > button {
    display: none !important
}

span.vc-platform-indicator > svg {
   width: 15px !important;
  height: 15px !important;
  fill: var(--brand-500) !important; /* whatever color */
  margin-left: 1px;
  margin-right: 1px;
}

div.profileBadges-2pItdR.containerWithContent-2Yws8V.container-1gYwHN > span.vc-platform-indicator > svg {
  width: 20px !important;
  height: 20px !important;
  fill: var(--brand-500) !important; /* whatever color */
}

/* Centered usernames */
.usernameSection-3FppkT,
.container-3g15px {
    text-align: center;
}

.customStatus-19KW6v {
    display: flex;
}

.nameTag-35jqbZ,
.customStatus-19KW6v,
.tabBar-2hXqzU {
    justify-content: center;
}
