/**
 * @name Fluent Discord
 * @author TakosThings
 * @version 1.7.3
 * @description Fluent theme for Discord (🔄 Auto-updating)
 * @invite ZYrCacRuez
 * @source https://github.com/TakosThings/Fluent-Discord
*/
@import url(https://raw.githubusercontent.com/Arkahilum/Discord-Theme/main/Discord%20Fluent%20themes/Fluent-Discord.css);
/* Pop Effect */
@import url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/pop.css");

/* Message Bubble in Left Side */
@import url(https://zuzumi-f.github.io/Discord-11/release/messagebubbleleft.css);
/* Default Message Bubble */
/* @import url(https://zuzumi-f.github.io/Discord-11/release/messagebubble11.css); */
/* New Message Bubble */
/* @import url(https://zuzumi-f.github.io/Discord-11/release/messagebubblenew.css); /**

 * Start user options
 * Visit the wiki for information on this section
 * https://github.com/TakosThings/Fluent-Discord/wiki
*/
/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/
/**
  * Visit the wiki for in-depth help on changing the below variables: https://github.com/TakosThings/Fluent-Discord/wiki/Options
  * You can change the accent colour by using the Colour Selector tool: https://takosthings.github.io/Fluent-Discord/color.html
**/
:root {
  /* DefaultBlue */
  --fluent-accent-hue-sat: 207, 100%;
  --fluent-accent-lightness: 42%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url(https://raw.githubusercontent.com/Arkahilum/Discord-Theme/main/wallpaper/crim/crim%20text%20cleaned%20up.png);
  --fluent-acrylic-background-blur: 16px;
  --fluent-acrylic-background-dimness: 50%;
  --fluent-acrylic-background-saturate: 140%;
  --fluent-guilds-icon-size: 44px;
}

/**
 * End user options
*/
