/**
 * @name Fluent Discord
 * @author TakosThings
 * @version 1.7.3
 * @description Fluent theme for Discord (🔄 Auto-updating)
 * @invite ZYrCacRuez
 * @source https://github.com/TakosThings/Fluent-Discord
*/
@import url("https://raw.githubusercontent.com/Arkahilum/Discord-Theme/main/Discord%20Fluent%20themes/test.css");
/* Pop Effect */
@import url("https://zuzumi-f.github.io/Moon-Rabbits-Dream-About-Virtual/release/pop.css");

/* Message Bubble in Left Side */
@import url("https://zuzumi-f.github.io/Discord-11/release/messagebubbleleft.css");
/* Default Message Bubble */
/* @import url(https://zuzumi-f.github.io/Discord-11/release/messagebubble11.css); */
/* New Message Bubble */
/* @import url(https://zuzumi-f.github.io/Discord-11/release/messagebubblenew.css); /**

 * Start user options
 * Visit the wiki for information on this section
 * https://github.com/TakosThings/Fluent-Discord/wiki
*/
/**
 * Note on chat font size
 * You may want to change your chat font scaling to '14px' to match the font size in Windows.
 * This option is found in User settings > Appearance.
*/
/**
  * Visit the wiki for in-depth help on changing the below variables: https://github.com/TakosThings/Fluent-Discord/wiki/Options
  * You can change the accent colour by using the Colour Selector tool: https://takosthings.github.io/Fluent-Discord/color.html
**/
:root {
  /* DefaultBlue */
  --fluent-accent-hue-sat: 207, 100%;
  --fluent-accent-lightness: 42%;
  --fluent-text-on-accent-color: 0, 0, 0;
  --fluent-acrylic-background: url("https://raw.githubusercontent.com/Arkahilum/Discord-Theme/main/wallpaper/crim/99901442_p0.jpg");
  --fluent-acrylic-background-blur: 12px;   /* 24% is default */
  --fluent-acrylic-background-dimness: 50%;   /* 75% is default */
  --fluent-acrylic-background-saturate: 140%;   /* 140% is default */
  --fluent-guilds-icon-size: 46px;   /* 24 pixels is default */
}

/**
 * End user options
*/

/* compact embeds */
[id^=message-accessories] [class^=gridContainer] > [class^=grid] {
  padding: 8px;
}
[id^=message-accessories] [class^=gridContainer] > [class^=grid] > * {
  margin-top: 2px; 
}
[id^=message-accessories] [class^=gridContainer] > [class^=grid] [class^=message] {
  margin-bottom: 4px;
}
[id^=message-accessories] [class^=gridContainer] > [class^=grid] [class^=message] h3[class*=header] {
  margin-top: 0px;


/* Remove gift button */
[class="container-3Csys8"] {
    display: none !important;
}

#app-mount > div.appAsidePanelWrapper-ev4hlp > div.notAppAsidePanel-3yzkgB > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div > div > div.chat-2ZfjoI > div.content-1jQy2l > main > form > div > div.scrollableContainer-15eg7h.webkit-QgSAqd > div > div.buttons-uaqb-5 > button {
    display: none !important
}

 span.vc-platform-indicator > svg {
   width: 15px !important;
  height: 15px !important;
  fill: var(--brand-500) !important; /* whatever color */
  margin-left: 1px;
  margin-right: 1px;
}

div.profileBadges-2pItdR.containerWithContent-2Yws8V.container-1gYwHN > span.vc-platform-indicator > svg {
  width: 20px !important;
  height: 20px !important;
  fill: var(--brand-500) !important; /* whatever color */
}
